* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 5%;
}

.carousel-item {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section article .work-item {
  background-position: center;
  background-size: cover;
}

/* .carousel-item h2 {
  background-color: rgba(0, 0, 0, .3);
} */

.main-content-section, .drop-section {
  height: 400px;
}

form {
  margin-bottom: 35px;
}

.drop {
  opacity: 0.25;
}


p {
  background: #555;
  color: #fff;
  padding: 10px;
  min-width: 80%;
}

.done, .to-do {
  background: #bbb;
  min-height: 200px;
}

.random {
  background: #fee3ac;
  min-height: 300px;
  margin-top: 50px;
}